// Override default variables before the import
$primary: #0a66c2;
$secondary: #ffffff;

//Custom
$secondary-grey: #d6d6d6;
$secondary-dark: rgba(0, 43, 85, 0.74);

// Import Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";
@import "fonts.scss";
@import "scrollbar.scss";

.body {
  background: rgba(249, 249, 249, 1);
}

p {
  margin: 0;
}

.text-secondary-dark {
  color: $secondary-dark;
}

.date-card {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;

  width: 54.23px;
  height: 54.25px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;

  &[data-index="0"] {
    color: rgba(11, 116, 173, 1);
    background-color: rgba(11, 116, 173, 0.15);
  }

  &[data-index="1"] {
    color: rgba(9, 19, 22, 1);
    background-color: rgba(192, 193, 193, 1);
  }

  &[data-index="2"] {
    background: rgba(9, 19, 22, 1);
    background: rgba(225, 225, 225, 1);
  }
}

.card-info {
  font-family: Poppins;
  .title-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }

  .subtitle-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }

  .trinary-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }
}

.job-card {
  // width: 295.65px;
  height: 268.46px;

  // box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);

  .role-text {
    font-size: 12px;
    font-weight: 400;
  }
  .position-text {
    font-size: 14px;
  }
  .trinary-text {
    font-size: 14px;
  }

  .bottom-text {
    font-size: 12px;
  }

  .count {
    width: 50px;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;

    &[data-index="0"] {
      color: rgba(10, 102, 194, 1);
      background: rgba(217, 228, 239, 1);
    }

    &[data-index="1"] {
      color: rgba(255, 255, 255, 1);
      background: rgba(115, 161, 251, 1);
    }

    &[data-index="2"] {
      color: rgba(255, 255, 255, 1);
      background: rgba(47, 115, 160, 1);
    }

    &[data-index="3"] {
      color: rgba(255, 255, 255, 1);
      background: rgba(10, 102, 194, 1);
    }
  }
}

.search-input {
  .input-icons i {
    position: absolute;
  }

  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    padding: 10px;
    min-width: 40px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
  }
}

.section-header {
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
  }

  button {
    font-size: 15px;
  }
}

.header-section {
  .header-title {
    font-size: 27px;
    font-weight: 500;
    line-height: 54px;
    text-align: left;
    color: rgba(62, 62, 62, 1);
  }

  .header-subtitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(62, 62, 62, 1);
  }
}

.new-assessment-card {
  // width: 711px;
  height: 292px;
  border-radius: 10px;
  background: linear-gradient(74deg, #0a66c2 6.27%, #5994ce 90.96%);

  .assessment-count {
    font-size: 36px;
    font-weight: 600;
    text-align: left;
  }

  .assessment-text {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
}

.side-nav {
  border-radius: 0px 40px 0px 0px;
  box-shadow: 4px 4px 25px 0px #00000026;
}

.meeting-info-card-container {
}
.meeting-info-card {
  width: 708px;

  .grey-border {
    border: 1px solid $secondary-grey;
  }

  .candidate-name {
    font-size: 16px;
  }

  .candidate-designation {
    font-size: 14px;
  }

  .date-time {
    font-size: 14px;
  }

  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid $secondary-grey;

    font-size: 14px;

    td {
      border-bottom: 1px solid $secondary-grey;
      padding: 23px 15px 5px;
      text-align: center;

      &:first-child {
        border-right: 1px solid $secondary-grey;
      }
    }
  }
}

.candidate-status-table {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;

  th {
    background: #f5f5f5;
    border-bottom: 1px solid #000000;
  }

  tr {
    border-bottom: 1px solid rgba(9, 19, 22, 0.25);
  }

  td {
    padding-top: 20px;
    padding-bottom: 2px;
    border: 0;
  }
}

.assessment-info-container {
  // height: 280px;
  border-radius: 10px;
}
